---
---

body {
  margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.75em;
  color: #111;
}

blockquote {
  overflow: hidden;
  padding: 1rem 1rem 0;
  margin: 1rem 0;
  background-color: #f5f5f7;
}

table {
  margin: 1rem 0;
}

.task-list {
  list-style: none;
  padding-left: 40px;

  .task-list-item {
    position: relative;
  }

  .task-list-item-checkbox {
    position: absolute;
    left: -23px;
    margin-top: 4px;
  }
}

details {
  summary {
    overflow: hidden;
    margin-left: -17px;

    &:focus {
      outline: none;
    }

    h2 {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

#gantt text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  font-size: 13px !important; // anything bigger doesn't work

  &[fill="#5e97f6"] {
    font-size: 15px !important;
  }
}

#gantt rect[fill="#5e97f6"],
#gantt rect[fill="#2a56c6"],
#gantt path[fill="#204195"],
#gantt text[fill="#5e97f6"] {
  cursor: pointer !important;
}

hr {
  margin: 80px 0 50px;
}
