<!-- See documentation at https://developers.google.com/chart/interactive/docs/gallery/ganttchart -->

<div id="gantt"></div>

<script src="https://www.gstatic.com/charts/loader.js"></script>

<script>

  google.charts.load('current', {'packages':['gantt']});

  var element = document.getElementById('gantt');

  function drawGanttChart() {

    var dataTable = new google.visualization.DataTable({
      cols: [
        {type: 'string', id: 'Task ID'},
        {type: 'string', id: 'Task Name'},
        {type: 'date', id: 'Start Date'},
        {type: 'date', id: 'End Date'},
        {type: 'number', id: 'Duration'},
        {type: 'number', id: 'Percent Complete'},
        {type: 'string', id: 'Dependencies'}
      ],
      rows: [
        {% for project in site.projects %}
          {c: [
            { v: {{project.slug | jsonify}} }, // Task ID
            { v: {{project.title | jsonify}} }, // Task Name
            { v: {% if project.startDate %} new Date({{project.startDate | jsonify}}) {% else %} null {% endif %} }, // Start Date
            { v: {% if project.endDate %} new Date({{project.endDate | jsonify}}) {% else %} null {% endif %} }, // End Date
            { v: {{project.duration | default: 2 | times: 86400000 | jsonify}} }, // Duration (ms)
            { v: Math.round({{project.content | split: 'checked="checked"' | size | minus: 1 }} / {{project.content | split: 'type="checkbox"' | size | minus: 1 }} * 100) || 0 }, // Percent Complete (1 - 100)
            { v: {{project.dependencies | join: ',' | jsonify}} } // Dependencies
          ]},
        {% endfor %}
      ]
    });

    var chart = new google.visualization.Gantt(element);

    chart.draw(dataTable, {
      height: {{ include.height | jsonify }},
      gantt: {
        innerGridDarkTrack: { fill: '#f8f9fa' },
        innerGridHorizLine: { strokeWidth: 0 }
      }
    });

    google.visualization.events.addListener(chart, 'select', () => {
      switch (chart.getSelection()[0].row) {
        {% for project in site.projects %}
          case {{forloop.index | minus: 1}}:
            window.location = {{project.url | jsonify}};
            break;
        {% endfor %}
      }
    });

  }

  google.charts.setOnLoadCallback(drawGanttChart);
  window.addEventListener('resize', drawGanttChart);

</script>
