<!-- See documentation at https://developers.google.com/chart/interactive/docs/gallery/ganttchart -->

<div id="gantt-chart"></div>

<style>
  #gantt-chart text {
    font-family: Arial !important;
    font-size: 12px !important;
  }

  #gantt-chart rect[fill="#5e97f6"],
  #gantt-chart rect[fill="#2a56c6"],
  #gantt-chart path[fill="#204195"] {
    cursor: pointer !important;
  }
</style>

<script src="https://www.gstatic.com/charts/loader.js"></script>

<script>

  google.charts.load('current', {'packages':['gantt']});

  var element = document.getElementById('gantt-chart');

  function drawGanttChart() {

    var dataTable = new google.visualization.DataTable({
      cols: [
        {type: 'string', id: 'Task ID'},
        {type: 'string', id: 'Task Name'},
        {type: 'date', id: 'Start Date'},
        {type: 'date', id: 'End Date'},
        {type: 'number', id: 'Duration'},
        {type: 'number', id: 'Percent Complete'},
        {type: 'string', id: 'Dependencies'}
      ],
      rows: [
        {% for project in site.projects %}
          {c: [
            { v: {{project.slug | jsonify}} }, // Task ID
            { v: {{project.title | jsonify}} }, // Task Name
            { v: {% if project.startDate %} Date.parse({{project.startDate | jsonify}}) {% else %} null {% endif %} }, // Start Date
            { v: {% if project.endDate %} Date.parse({{project.endDate | jsonify}}) {% else %} null {% endif %} }, // End Date
            { v: {{project.duration | default: 7 | times: 86400000 | jsonify}} }, // Duration (ms)
            { v: {{project.content | split: 'checked="checked"' | size | minus: 1 }} / {{project.content | split: 'type="checkbox"' | size | minus: 1 }} * 100 }, // Percent Complete (1 - 100)
            { v: {{project.dependencies | join: ',' | jsonify}} } // Dependencies
          ]},
        {% endfor %}
      ]
    });

    var chart = new google.visualization.Gantt(element);

    chart.draw(dataTable, {
      height: {{ include.height }},
      gantt: {
        labelStyle: { fontName: '' },
      }
    });

    google.visualization.events.addListener(chart, 'select', () => {
      switch (chart.getSelection()[0].row) {
        {% for project in site.projects %}
          case {{forloop.index | minus: 1}}:
            window.location = {{project.url | jsonify}};
            break;
        {% endfor %}
      }
    });

  }

  google.charts.setOnLoadCallback(drawGanttChart);
  window.addEventListener('resize', drawGanttChart);

</script>
